.footer_container {
  width: 100%;
  margin-top: auto;
  padding: 2rem 0;
}

.top_navbar_container {
  width: 100%;
  margin-top: 0.5rem;
}

.body_content_container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.content_container {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 1rem;
  /* backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px); */
}

/* Responsive */
@media (max-width: 449px) {
  .content_container {
    padding: 1rem 2rem;
  }
}

@media (min-width: 450px) {
  .content_container {
    padding: 1rem 2rem;
  }
}

@media (min-width: 640px) {
  .content_container {
    padding: 1rem 2.5rem;
  }
}

@media (min-width: 768px) {
  .content_container {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1024px) {
  .content_container {
    padding: 2rem 4rem;
  }
}

@media (min-width: 1280px) {
  .content_container {
    padding: 3rem 5rem;
  }
}

@media (min-width: 1440px) {
  .content_container {
    padding: 4rem 6rem;
  }
}
