.footer_container {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.top_navbar_container {
  width: 100%;
  margin-top: 0.5rem;
}

/* Responsive */
@media (min-width: 640px) {
  .content_container {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .content_container {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .content_container {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .content_container {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .content_container {
    max-width: 43rem;
    margin-left: auto;
    margin-right: auto;
  }
}
