/*-----------------------------------------------*/
/*----------------- FONTS FAMILY ------------------*/
/*-----------------------------------------------*/

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.woff2") format("woff2"),
    url("./assets/fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Manrope3;
  src: url("./assets/fonts/Manrope-Regular.woff2") format("woff2"),
    url("./assets/fonts/Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*-----------------------------------------------*/
/*----------------- CUSTOM CSS ------------------*/
/*-----------------------------------------------*/
html {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px; /* Default browsers font size is 16px */
}
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
#root {
  width: 100% !important;
  height: 100% !important;
}
