@tailwind base;

/* Apply some base styles to specific elements before @tailwind components; */
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}
a {
  @apply text-blue-600;
  @apply underline;
}

/* Responsive */
@media (min-width: 640px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 4.75rem;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 8.75rem;
  }
}

@tailwind components;
@tailwind utilities;
