.username {
  max-width: 15rem;
  color: #434343;
  letter-spacing: 0;
  text-transform: uppercase;
  opacity: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_container {
  margin-left: 2.77rem;
}

.menu_container_last_item {
  margin-right: -0.3rem;
}
